# Project exclude paths
/.gradle/
/gradle/wrapper/gradle-wrapper.jar
/build/
/.idea/
/test/
/out/
/run/
/config/
/plugins/
/debug-sandbox/*

# Runtime files
/bots/
/data/
/logs/
/plugin-libraries/
/plugin-shared-libraries/