# Project exclude paths
/.gradle/
/build/
/.idea/
/test/
/out/
/run/
/config/
/plugins/
/debug-sandbox/*
/src/test/kotlin/RunMirai.kt

# Runtime files
/bots/
/data/
/logs/
/plugin-libraries/
/plugin-shared-libraries/
/tools/img/
/tools/image/
/tools/raw/
/tools/__pycache__/
tools/pixiv.db
tools/pixiv.py
tools/pixiv.db-journal
tools/skip
tools/db
tools/log
tools/log.db
tools/log.7z
/arona-doc/*
/arona-webui-frontend/*
/arona-webui-backend/*
/arona-backend/*