@import '@/assets/styles/nprogress.scss';
@import '@/assets/styles/markdown.scss';
@import '@/assets/styles/dark.scss';
@import "@/assets/styles/variables.scss";

#app {
  width: 100vw;
  height: 100vh;
}

// 隐藏横向滚动条
.scrollbar-hide-horizontal[class~=el-scrollbar] {
  .is-horizontal {
    display: none;
  }
}

// 点模糊背景
.dot-bg {
  background-image: radial-gradient(transparent 1px, #fff 1px);
  backdrop-filter: saturate(50%) blur(4px);
  background-size: 4px 4px;
}

// 菜单美化

.custom-menu {
  .el-sub-menu {
    .el-menu {
      padding: 0 16px;
      .el-menu-item[class~=is-active] {
        background-color: var(--el-color-primary-light-8);
      }
    }
  }
}

// 主配置文件连接
.config-drag-item {
  background-color: white;
  border: 1px solid #346789;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 19px #aaa;
  border-radius: 6px;
  position: absolute;
  color: black;
  width: 140px;
  height: 60px;
  line-height: 1;
  user-select: none;
}

.dialog-body-padding-bottom-0 {
  .el-dialog__body {
    padding-bottom: 0;
  }
}
