@font-face {
  font-family: "Game Font";
  src: url("/font/U-OTF-ShinMGoUpr-Medium.woff");
}
@font-face {
  font-family: "Chinese Game Font";
  src: url("/font/ResourceHanRoundedCN-Medium.woff");
}
:root {
  --arona-c: rgb(0,215,251);
  --plana-c: rgb(219, 59, 108);
  --vp-font-family-base: "Game Font", "Chinese Game Font", 'Inter var', 'Inter', ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-c-brand: #3f88f2;
  --vp-c-brand-light: #3f88f2;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    rgb(72,84,235),
    rgba(203,158,234, 0.8) 90%
  );
  --vp-c-brand-dark: #3837c4;
  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #b2cffa 10%,
    #f9fbff 100%
  );
  --vp-home-hero-image-filter: blur(150px);

  --color-shadow-near: hsla(210, 55%, 20%, 0.3);
  --color-shadow-far: hsla(210, 55%, 33%, 0.3);
  --color-shadow-farther: hsla(210, 29%, 27%, 0.4);

  --style-shadow-shallow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.08);
  --style-shadow-near: 0.1rem 0.1rem 0.25rem var(--color-shadow-near);
  --style-shadow-far: 0.2rem 0.2rem 1rem var(--color-shadow-far);
  --style-shadow-farther: 0.4rem 0.4rem 1rem var(--color-shadow-farther);
  .VPButton.brand {
    border-color: var(--vp-button-alt-hover-border);
  }
  --vp-strong-text-color: red;
}

.vp-doc strong {
  color: var(--vp-strong-text-color);
}

.dark {
  --vp-nav-bg-color: #1e1e20;
  --vp-strong-text-color: #f56c6c;
}

.VPImage {
  filter: drop-shadow(0 0 2rem var(--vp-c-brand));
}

.title:hover {
  opacity: 1 !important;
  color: var(--vp-c-brand);
}

.VPSidebarItem.level-1 {
  padding-left: 10px;
}

summary {
  cursor: pointer;
}

@media (min-width: 960px) {
  .VPNavBarSearch {
    padding-left: 32px;
  }
}

@media (min-width: 768px) {

  .VPNavBarSearch {
    transition: all 0.375s cubic-bezier(0.65, 0.05, 0.36, 1);
    margin-right: 16px;
    filter: drop-shadow(var(--style-shadow-near));
  }

  .has-sidebar {
    .VPNavBarSearch {
      flex: 1;
      padding-left: 32px;
      filter: none;
      margin-right: 0;
    }
  }

  .DocSearch-Button-Container {
    white-space: nowrap;
  }

  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 12px;
    width: auto;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
    box-sizing: content-box;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: var(--vp-c-bg-alt);
      border: 1px solid var(--vp-c-brand);
    }
  }

  .DocSearch-Button-Keys {
    min-width: unset !important;
    border: 1px solid var(--vp-c-divider);
    border-radius: 4px;
    height: 22px;
    display: flex;

    .DocSearch-Button-Key {
      margin-top: 0;
    }
  }
}

.dark {
  .DocSearch-Form {
    background-color: #333 !important;
  }

  .search-item {
    background-color: var(--vp-custom-block-details-bg) !important;

    &:hover {
      background-color: var(--vp-c-brand-dark) !important;
    }
  }
}

.modal-back {
  background: #09142569;

  .modal {
    background-color: transparent;

    .DocSearch-MagnifierLabel {
      color: var(--vp-c-brand);
      margin: 0 0 0 16px;
    }

    .DocSearch-Form {
      background-color: #fff;
      border-radius: 2rem;
      box-shadow: var(--style-shadow-farther);
    }

    .DocSearch-Input {
      -webkit-appearance: none;
      background: transparent;
    }

    //noinspection CssOverwrittenProperties
    .search-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 16px;
      padding: 0 16px;
      overflow-y: auto;
      max-height: calc(100vh - 151px);
      max-height: calc(100dvh - 151px);
      overscroll-behavior-y: contain;

      &::after {
        content: 'powered by FlexSearch';
        width: 100%;
        text-align: end;
        display: block;
        font-size: 0.8rem;
        color: #f2f2f2;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & > span {
          color: var(--vp-c-white);
          margin: 0;
          text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.15);
        }

        & > a {
          display: flex;
          flex-direction: column;
        }

        .search-item {
          border-radius: 1rem;
          border: none;
          margin: 0;
          padding: 12px 16px;
          box-shadow: var(--style-shadow-near);
          transition: all 0.2s ease-in-out;
          background: #fff;

          &:hover {
            background-color: var(--vp-c-brand);
            box-shadow: var(--style-shadow-far);
            scale: 1.01;
          }
        }
      }
    }
  }

  .flex-logo {
    display: none;
  }
}

@media (max-width: 375px) {
  .DocSearch-Button-Keys {
    display: none;
  }

  .modal-back {
    .modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%;
      border-radius: 0;
    }

    .DocSearch-Form {
      margin-top: 1rem;
      max-width: calc(100% - 2rem);
    }

    .search-list {
      max-height: calc(100% - 71px) !important;
    }
  }
}
